@charset "UTF-8";

/* CSS para impressora */

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'Site criado pelo curso em vídeo por Marco Antonio';
}
